	#overlayMenu {
		position: absolute;
		top:0px;
		height: 992px;
		width: 800px;
		overflow: hidden;
		background:url(../assets/Interface/midbackground.png) no-repeat;
		-webkit-transition: all 1.2s ease;
		-webkit-transform: translate3d(0,-826px,0);
	}
	#overlayMenu.active {
		-webkit-transform: translate3d(0,0px,0);
	}
	#overlayMenu>.active {
		opacity:0.3;
	}
	#overlayClickZone {
		position: absolute;
		display:block !important;
		height: 80px;
		right:50px;
		left: 50px;
		bottom: -40px;
		z-index: 20;
	}
	#overlayMenu nav {
		margin: 138px 0 40px;
		font-family: euro;
		font-size: 1.4em;
		overflow: hidden;
	}
	#overlayMenu nav ul {
		list-style: none;
		margin: 0;
	}
	#overlayMenu nav li {
		display: block;
		float:left;
		width:240px;
		height:90px;
		line-height: 90px;
		text-align: center;
		margin:0;
	}
	#overlayMenu nav ul li:nth-child(1) {
		background: url(../assets/Interface/homebutton.png);
	}
	#overlayMenu nav ul li:nth-child(1).active {
		background: url(../assets/Interface/homebuttonselect.png);
	}
	#overlayMenu nav ul li:nth-child(2) {
		background: url(../assets/Interface/missionbutton.png);
	}
	#overlayMenu nav ul li:nth-child(2).active {
		background: url(../assets/Interface/missionbuttonselect.png);
	}
	#overlayMenu nav ul li:nth-child(3) {
		background: url(../assets/Interface/logisticsbutton.png);
	}
	#overlayMenu nav ul li:nth-child(3).active {
		background: url(../assets/Interface/logisticsbuttonselected.png);
	}
	#overlayMenu>div {
		padding:5px 38px;
		font-size: 1.6em;
	}
	#overlayMenu>div,#logisticsTab>div {
		position: absolute;
		left:0;
		right: 0;
		opacity: 0;
		-webkit-transition: all 0.4s ease;
		-webkit-transform: translate3d(0,0,0);
	}
	#overlayMenu.active>.active {
		opacity: 1.0;
		z-index: 10;

	}
/*home tab*/
	.minimalList {
		list-style: none;
		padding: 0;
		letter-spacing: 3px;
	}
	.minimalList li {
		line-height: 38px;
		padding:20px 0;
		-webkit-transform-origin: 0 0;
	}
	.minimalList img {
		margin-right: 30px;
		float: left;
	}
	.minimalList li>span {
		float: right;
		font-style: italic;
		font-weight: 200;
	}
	.minimalList p {
		margin:0.5em 0.5em 0em 5.5em;
		font-size: 0.86em;
		font-weight: 300;
		letter-spacing: 0;
		line-height: 1.2;
		-webkit-transform: translate3d(0,0,0);

	}
/*missions tab*/
	.mission {
		/*font-weight: 200;*/
		letter-spacing: 1px;
		font-size: 0.97em;
		/*height:90px;*/
		overflow: hidden;
		background: url(../assets/Interface/menubartoggle.png) no-repeat, url(../assets/Interface/togglearrownotpushed.png) no-repeat 90% 28px;
		-webkit-transform-origin: 0 0;
	}
	.mission.active {
		height: auto;
		background: url(../assets/Interface/menubartoggle.png) no-repeat, url(../assets/Interface/togglearrowpushed.png) no-repeat 90% 28px;
	}
	.mission div, .minimalList div {
		display:none;
	}
	h2 {
		font-family: euro;
		font-weight: normal;
		line-height: 24px;
		padding: 31px;
		margin: 0;
	}
	.mission h2 {
		font-size:1.7em;
	}
	.mission p {
		margin: 8px 20px;
	}
	.mission ul {
		list-style: square;
		list-style-position: inside;
		font-style: italic;
		margin: 20px;
		margin-right: 100px;
		padding: 0;
	}

	#logisticsTab {
/*		background: url(../assets/logistics/logisticsplaceholder.png) no-repeat;
		height: 700px;
		letter-spacing: 0;
		font-weight: 200;*/
		-webkit-transform-origin: 0 0;
	}
	div#logisticsTabMain {
		background: url(../assets/logistics/logisticsplaceholder.png) no-repeat;
		left:0;
		right: 0;
		height: 700px;
		letter-spacing: 0;
		font-weight: 200;
		opacity: 1;
		-webkit-transform-origin: 0 0;
		-webkit-transition: all 0.6s ease;
	}
	.logisticsActive {
		/*left:800px !important;*/
		-webkit-transform: translate3d(800px,200px,0) scale3d(3.5,3.5,1) !important;
	}
	#sensorsButton {
		position: absolute;
		left:20px;
		top:10px;
		width:600px;
		height: 100px;
	}
	#sensorsTab {
		padding: 5px 38px;
		font-size: 1em;
		font-weight: 200;
	}
	#logisticsTab>div.active {
		opacity: 1;
	}
	#sensorsTab h2 {
		background: url(../assets/logistics/sensorbar.png) no-repeat;
		line-height: 40px;
		padding:32px 50px;
		margin: 0 0 50px;
	}
	h2 span {
		font-size: 0.7em;
		padding-left: 1em;
	}
	#status {
		line-height: 0.9;
		padding-top:0.7em;
	}
	#statusbox {
		height:1.8em;
		width:1.8em;
		float:left;
		margin-right: 0.2em;
		background:#c58976; 
		opacity: 0.3;
		-webkit-transition: all 0.6s ease;
	}
	.statusGreen {
		background: #7cc576 !important;
	}
	.button {
		float:right;
		margin-left: 0.5em;
		margin-right:9px;
		height: 79px;
		width:412px;
		line-height: 79px;
		text-align: center;
		background: url(../assets/logistics/rundiagnostic.png) no-repeat;
		z-index: 1;
	}
	.buttonnote {
		width:300px;
		font-size: 0.8em;
		text-align: right;
		padding-top: 0.8em;
	}
	#systemsDisplay {
		overflow: hidden;
		height:202px;
		background: url(../assets/logistics/brackets.png) no-repeat;
		margin: 20px 0 50px;
	}
	#systemsDisplay p {
		text-align: center;
		line-height: 202px;
		/*margin-bottom:1em;*/
	}
	#scanbutton {
		background: url(../assets/logistics/scanbutton.png) no-repeat;
		height: 151px;
		font-size: 2.1em;
	}
	#scanbutton:active {
		/*background: url(../assets/logistics/scanbuttonpress.png) no-repeat;*/
		box-shadow: 0 0 18px #fff;
	}
	#scanbutton p {
		padding: 0.25em 1em 0 0;
	}
	#scanbutton span {
		display: block;
		font-size: 0.5em;
		font-family: euro;
		margin-left:12px;
		text-align: left;
		text-shadow: 1px 1px 0px #000;
	}
	#repairbutton {
		display:none;
		position: relative;
		width: 697px;
		height: 179px;
		background: url(../assets/logistics/repairbutton.png) no-repeat;
		margin: 13px 9px;
	}
	#repairbutton:active {
		box-shadow: 0 0 18px #fff;
	}
	#repairbutton p {
		position: absolute;
		text-align: left;
		line-height: 1em;
	}
	p#repairbuttontitle {
		left:115px;
		top:62px;
		font-size: 2.1em;

	}
	p#repairrequiredtime {
		text-align: right;
		top:14px;
		right:70px;
		font-family: euro;
	}
	p#repairnote {
		font-style: italic;
		font-size: 0.7em;
		width:175px;
		top:72px;
		left:312px;
		font-weight: 300;
	}
	p#repairrequiredresourceslabels {
		text-align: right;
		right:70px;
		top:72px;
		width:140px;
		font-family: euro;
		text-shadow: 1px 1px 0px #000;
	}
	p#repairrequiredresourcesvalues {
		text-align: right;
		right:25px;
		top:72px;
		width:40px;
		font-family: euro;
		text-shadow: 1px 1px 0px #000;

	}